:root {
  --font-family: Roboto, sans-serif;
  --heading-font-family: 'Gochi Hand', cursive;
  --light-pink: #ffedef;
  --dark-pink: #ff3256;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  a {
    text-decoration: none;
  }
  h1 {
    font-family: var(--heading-font-family);
  }
}

.coloured {
  background: var(--light-pink);
}

.container {
  max-width: 1000px;
  margin: auto;
}

header {
  position: sticky;
  top: 0;
  background: white;
  height: 5em;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__left {
      display: flex;
      gap: .5em;
      align-items: center;
      img {
        width: 75px;
        height: 75px;
      }
    }
    nav {
      margin-right: 1em;
      ul {
        list-style-type: none;
        display: flex;
        gap: 2em;
        a {
          color: black;
          &:hover {
            border-bottom: 3px solid var(--dark-pink);
          }
        }
      }
    }
  }
}

section {
  padding: 1em;
  &:target {
    padding-top: 5em;
  }
  .heading__section {
    padding: .5em 0 0 1.5em;
    margin: 0;
  }
}

.about {
  display: flex;
  img {
    margin: 0 .6em 0 2.5em;
    width: 200px;
    height: 200px;
  }
  .heading__section {
    padding: 0;
  }
  .skills {
    display: flex;
    justify-content: space-between;
    //margin-right: 12em;
    img {
      width: 25px;
      height: 25px;
      margin: .5em 0 0 0;
    }
  }
}

.box {
  display: flex;
  gap: 1.5em;
  align-items: center;
  border-radius: 1em;
  padding: 1em;
  margin: .5em 0;
  .box__mark {
    flex: 0 0 10em;
    padding-left: 1.5em;
    text-align: left;
    .full__time {
      margin-top: .5em;
      span {
        background: white;
        border-radius: .2em;
        padding: .25em .5em;
      }
    }
  }
  .box__divider {
    border-left: 1px solid pink;
    height: 150px;
  }
  .box__content__headings {
    display: flex;
    gap: 1em;
    h1 {
      font-family: var(--font-family);
      font-size: 1rem;
      font-weight: 900;
    }
    .coloured__heading {
      color: var(--dark-pink);
    }
  }
  p {
    margin-top: 0;
  }
}

.experience .box {
    background: var(--light-pink);
}