:root {
  --font-family: Roboto, sans-serif;
  --heading-font-family: "Gochi Hand", cursive;
  --light-pink: #ffedef;
  --dark-pink: #ff3256;
  --header-height: 5em;
  scroll-padding-top: var(--header-height);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}
body a {
  text-decoration: none;
}
body h1 {
  font-family: var(--heading-font-family);
}

.coloured {
  background: var(--light-pink);
}

.container {
  max-width: 1000px;
  margin: auto;
}

header {
  position: sticky;
  top: 0;
  background: white;
  height: var(--header-height);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .header__left {
  display: flex;
  gap: 0.5em;
  align-items: center;
}
header .container .header__left img {
  width: 75px;
  height: 75px;
}
header .container nav {
  margin-right: 1em;
}
header .container nav ul {
  list-style-type: none;
  display: flex;
  gap: 2em;
}
header .container nav ul a {
  color: black;
}
header .container nav ul a:hover {
  border-bottom: 3px solid var(--dark-pink);
}

section {
  padding: 1em;
}
section .heading__section {
  padding: 0.5em 0 0 0.5em;
  margin: 0;
}
section p {
  text-align: justify;
}
section a {
  color: black;
}
section a:hover {
  color: var(--dark-pink);
}

.about {
  display: flex;
}
.about img {
  width: 250px;
  height: 250px;
}
.about .heading__section {
  padding: 0;
}
.about .skills {
  display: flex;
  justify-content: space-between;
}
.about .skills img {
  width: 25px;
  height: 25px;
  margin: 0.5em 0 0 0;
}

.box {
  display: flex;
  gap: 1.5em;
  align-items: center;
  border-radius: 1em;
  padding: 1em 2em 1em 1em;
  margin: 0.5em 0;
}
.box .box__mark {
  flex: 0 0 10em;
  padding-left: 1.5em;
  text-align: left;
}
.box .box__mark .full__time {
  margin-top: 0.5em;
}
.box .box__mark .full__time span {
  background: white;
  border-radius: 0.2em;
  padding: 0.25em 0.5em;
}
.box .box__divider {
  border-left: 1px solid var(--dark-pink);
  height: 150px;
}
.box .box__content__headings {
  display: flex;
  gap: 1em;
}
.box .box__content__headings h1 {
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 900;
}
.box .box__content__headings .coloured__heading {
  color: var(--dark-pink);
}
.box p {
  margin-top: 0;
}

.experience .box {
  background: var(--light-pink);
}

.education .box {
  background: white;
}
.education .box .box__divider {
  height: 75px;
}

.skills .skills__box {
  display: flex;
  justify-content: space-evenly;
}
.skills .skills__box h1 {
  font-family: var(--font-family);
  margin-bottom: 0;
}
.skills .skills__box .skills__box__content .skills__box__content__skill {
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: space-between;
}
.skills .skills__box .skills__box__content ul {
  list-style-type: none;
  padding: 0;
  margin: 0.25em 0;
}
.skills .skills__box .skills__box__content .list__longer {
  column-count: 2;
}

.projects .projects__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5em;
  margin: 2.5em 0;
}
.projects .projects__box h1 {
  font-family: var(--font-family);
}
.projects .projects__box img {
  width: 350px;
  height: 250px;
  object-fit: cover;
}

.contact__form .contact__form__columns {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 1.5em;
}
.contact__form .contact__form__input {
  width: 100%;
  height: 2.5em;
  padding: 0.5em;
  margin: 0.5em 0;
}
.contact__form .contact__form__input:focus {
  outline: none;
}
.contact__form .contact__form__textarea {
  width: 100%;
  height: 7.5em;
  padding: 0.5em;
  font-family: Roboto, sans-serif;
  margin: 0.5em 0;
  resize: none;
}
.contact__form .contact__form__textarea:focus {
  outline: none;
}
.contact__form .contact__form__button {
  background: var(--dark-pink);
  border: none;
  border-radius: 0.3em;
  padding: 1em;
  color: white;
  font-weight: bold;
  margin: 0.5em 0;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .social__icons svg {
  width: 25px;
}
footer .social__icons svg:hover path {
  fill: var(--dark-pink);
}

/*# sourceMappingURL=styles.css.map */
