:root {
  --font-family: Roboto, sans-serif;
  --heading-font-family: 'Gochi Hand', cursive;
  --light-pink: #ffedef;
  --dark-pink: #ff3256;
  --header-height: 5em;
  scroll-padding-top: var(--header-height);
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  a {
    text-decoration: none;
  }
  h1 {
    font-family: var(--heading-font-family);
  }
}

.coloured {
  background: var(--light-pink);
}

.container {
  max-width: 1000px;
  margin: auto;
}

header {
  position: sticky;
  top: 0;
  background: white;
  height: var(--header-height);
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__left {
      display: flex;
      gap: .5em;
      align-items: center;
      img {
        width: 75px;
        height: 75px;
      }
    }
    nav {
      margin-right: 1em;
      ul {
        list-style-type: none;
        display: flex;
        gap: 2em;
        a {
          color: black;
          &:hover {
            border-bottom: 3px solid var(--dark-pink);
          }
        }
      }
    }
  }
}

section {
  padding: 1em;
  .heading__section {
    padding: .5em 0 0 .5em;
    margin: 0;
  }
  p {
    text-align: justify;
  }
}

.about {
  display: flex;
  img {
    margin: 0 .6em 0 2.5em;
    width: 175px;
    height: 175px;
  }
  .heading__section {
    padding: 0;
  }
  .skills {
    display: flex;
    justify-content: space-between;
    img {
      width: 25px;
      height: 25px;
      margin: .5em 0 0 0;
    }
  }
}

.box {
  display: flex;
  gap: 1.5em;
  align-items: center;
  border-radius: 1em;
  padding: 1em 2em 1em 1em;
  margin: .5em 0;
  .box__mark {
    flex: 0 0 10em;
    padding-left: 1.5em;
    text-align: left;
    .full__time {
      margin-top: .5em;
      span {
        background: white;
        border-radius: .2em;
        padding: .25em .5em;
      }
    }
  }
  .box__divider {
    border-left: 1px solid var(--dark-pink);
    height: 150px;
  }
  .box__content__headings {
    display: flex;
    gap: 1em;
    h1 {
      font-family: var(--font-family);
      font-size: 1rem;
      font-weight: 900;
    }
    .coloured__heading {
      color: var(--dark-pink);
    }
  }
  p {
    margin-top: 0;
  }
}

.experience .box {
    background: var(--light-pink);
}

.education .box {
  background: white;
  .box__divider {
    height: 75px;
  }
}

.skills {
  .skills__box {
    display: flex;
    //gap: 2em;
    justify-content: space-evenly;
    h1 {
      font-family: var(--font-family);
      margin-bottom: 0;
    }
    .skills__box__content {
      .skills__box__content__skill {
        display: flex;
        align-items: center;
        gap: 1em;
        justify-content: space-between;
      }
      ul {
        list-style-type: none;
        padding: 0;
      }
      .list__longer {
        column-count: 2;
      }
    }
  }
}

.contact__form {
  //padding: 0 1.5em;
  .contact__form__columns {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 1.5em;
  }
  .contact__form__input {
    width: 100%;
    height: 2.5em;
    padding: .5em;
    margin: .5em 0;
    &:focus {
      outline: none;
    }
  }
  .contact__form__textarea {
    width: 100%;
    height: 7.5em;
    padding: .5em;
    font-family: Roboto, sans-serif;
    margin: .5em 0;
    resize: none;
    &:focus {
      outline: none;
    }
  }
  .contact__form__button {
    background: var(--dark-pink);
    border: none;
    border-radius: .3em;
    padding: 1em;
    color: white;
    font-weight: bold;
    margin: .5em 0;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .social__icons {
    svg {
      width: 25px;
      &:hover {
        path {
          fill: var(--dark-pink);
        }
      }
    }
  }
}